
.images {
  margin-top: auto;
  display: block;
}
img{
  width: 32%;
  min-height: 200px;
}
.image1 {
   width: 32%;
  top: 250px;
  max-height:25px;
  left: 0px;
  display: inline-block;
}
.image2 {
  width: 32%;
  top: 250px;
  max-height:25px;
  left: 100px;
  display: inline-block;
}
.image3 {
  width: 32%;
  top: 250px;
  max-height:25px;
  left: 150px;
  display: inline-block;
}


/*

function Image (imageName, filePath, imageId){
  this.imageName = imageName;
  this.filePath = filePath;
  this.imageId = imageId;
  this.numShown = 0;
  this.numClicked = 0;
}

var imageFileList = ['bag.jpg','banana.jpg','bathroom.jpg','boots.jpg',
  'breakfast.jpg','bubblegum.jpg','chair.jpg','cthulhu.jpg','dogDuck.jpg',
  'dragon.jpg','pen.jpg','petSweep.jpg','scissors.jpg','shark.jpg','unicorn.jpg',
  'sweep.png','tauntaun.jpg','usb.gif','waterCan.jpg','wineGlass.jpg'];

var imageList = [];
for (var i = 0; i < imageFileList.length; i++){
  var newImage = new Image(imageFileList[i], 'img/' + imageFileList[i], i);
  imageList.push(newImage);
}
var currentImageList = [];

var displayNewImageSet = function (){
  var index1 = Math.floor(Math.random() * 20);
  while(currentImageList.includes(index1)){
    index1 = Math.floor(Math.random() * 20);
  }
  var index2 = Math.floor(Math.random() * 20);
  while(index2 == index1 || currentImageList.includes(index2)){
    index2 = Math.floor(Math.random() * 20);
  }
  var index3 = Math.floor(Math.random() * 20);
  while(index3 == index1 || index3 == index2 || currentImageList.includes(index3)){
    index3 = Math.floor(Math.random() * 20);
  }

  var body = document.getElementsByTagName('body')[0];

  for (var i = 0; i < currentImageList.length; i++){
    var img = document.getElementById(currentImageList[i]);
    body.removeChild(img);
  }
  currentImageList[0] = index1;
  currentImageList[1] = index2;
  currentImageList[2] = index3;

  for (var i = 0; i < currentImageList.length; i++){
    var img = document.createElement('img');
    var index = currentImageList[i];
    imageList[index].numShown++;
    img.src = imageList[index].filePath;
    img.id = imageList[index].imageId;
    body.appendChild(img);
    img.addEventListener('click',onClick);
  }

};
var totalShown = 0;

function onClick(){
  processClick(event);
}

var chartImageList = [];
function reportResult(){
  var body = document.getElementsByTagName('body')[0];
  for (var i = 0; i < imageList.length; i++){
    //var parag = document.createElement('p');
    //parag.innerText = imageList[i].imageName + '      has been voted    ' + imageList[i].numClicked + '     times     ' + '   and has been shown    ' + imageList[i].numShown + '    times.';
    //body.appendChild(parag);
    if ( imageList[i].numShown > 0){
      chartImageList.push(imageList[i].imageName);
    }
  }
  var canvas = document.getElementById('canvas');
  var ctx = canvas.getContext('2d');
  var chartConfig = {
    type: 'bar',
    data: {
      labels: chartImageList, // x-axis labels for every entry in your data set. It should match up with the number of things you're plotting (if it's a bar chart)
      datasets: [{ // <-- notice that this can be an array of multiple data sets.
          // each data set is its own object literal.
        label: '# of Votes', // <-- the label of this one data set
        data: imageList.numClicked, // <-- where your data actually goes. just the numbers
        backgroundColor: [ // <-- this can be either one single color or a color for each item in your bar chart.
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 5 // border width in pixels
      }]
    },
    options: {
        // maintainAspectRatio: false,
        // animation: {
        //   duration: 1000
        // },
      title: {
        display: true,
        text: 'Some stuff and some junk'
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true
          }
        }]
      }
    }
  };

  var myChart = new Chart(ctx, chartConfig);
}

function processClick(event){
  var imageId = parseInt(event.target.id);
  imageList[imageId].numClicked++;
  if(totalShown == 25){

    // disable event listener.
    for(i = 0; i < 25; i++){
      document.getElementById(currentImageList[i]).removeEventListener("click",onClick);
    }
    reportResult();
    return;
  }
  totalShown++;
  displayNewImageSet();
}
displayNewIm




*/





/*
var lastIndex = 0;
function randomImage() {
  var theImage = document.getElementById('image1');
  var imgDir = '/Users/boyraz/myGit/bus-mall/img/';
  var imgArray = ['bag.jpg','banana.jpg','bathroom.jpg','boots.jpg','breakfast.jpg','bubblegum.jpg','chair.jpg','cthulhu.jpg','dogDuck.jpg','dragon.jpg','pen.jpg','petSweep.jpg','scissors.jpg','shartk.jpg','sweep.png','tauntaun.jpg','usb.gif','waterCan.jpg','wineGlass.jpg'];
  var imgIndex = 0;
  if(imgArray.length > 1) {
    while(imgIndex == lastIndex) {
      imgIndex = Math.floor(Math.random() * imgArray.length);
    }
    lastIndex = imgIndex;
    var imgPath = imgDir + imgArray[imgIndex];
    theImage.src = imgPath;
    theImage.alt = imgArray[imgIndex];
  }
}*
